.sections {
    border: 1px solid burlywood;
    padding: 20px;
    width: 25%;
}
body {
    display: flex;
    height: 100%;
    background-color: whitesmoke

}

.resultsList {
    /* border: 1px dashed red; */
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    background-color: beige
}

.noteView {
    border-bottom: .25px solid black
}

.noteTitle {
    font-style: italic
}

#notesInput {
    width: 90%;
    height: 50%;
    background-color: beige
}